jupyter_server
jupyterlab==3.0.9
jupyterlab_server
nbclassic
jupyter-packaging
pip
twine
wheel
numpy
vega_datasets
xeus-python
recommonmark
sphinx
sphinx_rtd_theme
sphinx-copybutton
black
doit
flake8
toml
matplotlib
packaging
