# Copyright (c) Jupyter Development Team.
# Distributed under the terms of the Modified BSD License.

jupyter-book
pyyaml
sphinx-autobuild
sphinx-copybutton
pydata-sphinx-theme

# additional myst parsers
# See https://myst-parser.readthedocs.io/en/latest/using/syntax-optional.html
myst-parser[sphinx,linkify]
